:root{
    --verde-platzi: #ACD9B2;
    --verde-platzi-opaco: #87ab8c;
    --dark: #212529;
}
#header .text-platzi{
    color: var(--verde-platzi) !important; 
}
#header .text-platzi:hover{
    color: var(--verde-platzi-opaco) !important;
}

#header .navbar-left{
    list-style: none;
}

#header .navbar-left-sub{
    color: white; 
    margin: 0;
    margin-top: 2px;
}

#header img{
    width: 80px;
}

#main .carousel-inner img{
    max-height: 70vh;
    filter: grayscale(70%);
    object-fit: cover;
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#carousel .btn-platzi{
    background: var(--verde-platzi);
    color: white;
}

#carousel .btn-platzi:hover{
    background-color: var(--verde-platzi-opaco)
}


#speakers .card{
    height: 550px;
    background: var(--dark)
}

#speakers .card-title{
    color: var(--verde-platzi-opaco) !important;
}
#speakers .card-img-top{
    min-height: 300px ;
    filter: grayscale(50%);
    object-fit: cover;

}

#footer{
    background: var(--dark)
}
#footer a{
    color: whitesmoke;
    text-decoration: none;
}



@media (min-width: 992px) and (max-width: 1200px) {
    #speakers .card-text {
        font-size: 0.9rem;
    }
  }
 
  
  
  